*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #1d5b4e;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    height: 60vh;
    width: 40vh;
    border-radius: 10px;
    background-color: #88a39e;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    flex-wrap: wrap;
}

.circle_logo{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: red;
    border: #5a8869 solid 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-color: #1d5b4e;
    width: 60%;
    height: 60%;
    border-radius: 50%;
}

.logo img{
    object-fit: cover;
}

.break{
    width: 200vh;
}

.nameClub{
    font-size: 120%;
}