*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back{
    background-color: #d5ebf8;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

div{
    box-sizing: border-box;
}

label{
    display: block;
    margin-bottom: 6px;
}

.log{
    border-radius: 7px;
    margin-left: 630px;
    margin-top:150px;
    background-color: white;
    width: 350px;
    height: 400px;
    border: gray;
    padding-top: 30px;
    padding-left: 30px;
    border: 0.5px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}


.loginbox{
    background-color: #017afd;
    color: white;
    display: inline-block;
    padding: 8px 12px;
    width: 90%;
    height: 45px;
    border-radius: 7px;
    text-align: center;
    margin-top: 20px;
    padding-top: 12px;
    font-size: 20px;
    margin-bottom: 15px;
}

input {
  width: 90%;
  padding: 10px;
  border: 0.5px solid #ccc; 
  border-radius: 7px;    
}


.input1{
    margin-top: 30px;
}

.input2{
    margin-top: 20px;
    margin-bottom: 10px;
}